.header {
	background-color: rgb(70, 114, 196);
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25), 0 2px 2px rgba(0, 0, 0, 0.22);
}
.logo,
.site_name,
.authorisation {
	background-color: rgb(70, 114, 196);
}
.site_name{
	text-align: center;
	font-size: 1.5rem;
	color: #ffffc7;
}
.name{
	text-shadow: 2px 2px 2px #472d02;
}
.image {
	display: block;
	height: 60px;
	margin-left: 90px;	
}
.link {
	text-transform: uppercase;
	color: #ffffff;
}
.link:hover {
	color: #dbdbdb;
}
